.bigDetail{
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 24px rgba(255, 255, 255, 0.3);
    }

    .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover; /* Udržuje obrázek v rámci karty */
        height: 200px; /* Nastavení výšky obrázku */
    }

    .card-body {
        padding: 16px;
        background-color: #f8f9fa;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 0.5rem;
    }

    .card-text {
        font-size: 1rem;
        color: #666;
    }
}